html {
	color: #555;
}
body {
	font-size: 14px;
	line-height: 150%;
	width: 960px;
	text-align: center;
}
.grid {
	margin: 0 auto;
	width: 960px;
}
h1 {
	font-size: 50px;
	font-weight: 100;
	font-family:"Chopin Script", sans-serif;
}
h2 {
	font-weight: 100;
}
h3 {
	margin: 22px 0 22px;
}
.now {
	width: 200px;
	display: inline-block;
	margin: 33px auto 33px;
	padding-top: 35px;
	padding-bottom: 35px;
	border-radius: 5px;
	border: solid grey;
}
a:hover {
	color: blue;
}
.position {
	text-align: right;
}
.logo {
	font-family: ;
	float: left;
	border-top:  solid darkred;
	clear: both;
	padding-top: 22px;
}
.btn {
	text-align: right;
	margin-right: 0;
}
.col-1-3 {
	display: inline-block;
	width: 30%;
	vertical-align: top;

}
.foot {
	text-align: left; 
}
